.Modal {
    position: absolute;
    padding: 100px;
    padding-bottom: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    padding-top: 200px;
    border-radius: 10px;
}

.OverLay {
    background-color: rgba(0, 0, 0, 0.263);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Modal .picContainer {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: -110px;
  margin-left: 0px;
  position: absolute;
  cursor: pointer;
  padding: 0 !important;
  border-radius: 100%;
}

.picContainer:hover > img:nth-child(1) {
  filter: brightness(98%);
}

.picContainer:hover > img:nth-child(2) {
  filter: brightness(120%);
}

.modalPic {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 0px solid white;
  object-fit: cover;
}

.editPic {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 2px solid white;
  position: absolute;
  right: 5px;
  bottom: 4px;
}

.Modal .modalInput {
    margin-top: 12px;
    padding: 10px 50px;
}
.Close {
    align-self: end;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 255, 0.382);
}

.inputWrap {
    display: flex;
    flex-direction: column;
}
